.header{
  background-color: chocolate;
  display:flex;
  justify-content: space-between;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
  padding: 5px 20px 5px 20px;

}
button{
  margin: 7px;
}
