<div class="header">
  <div class="left-frog">
    <button mat-flat-button color="primary" routerLink="/events">Event</button>
    <button mat-flat-button color="primary" routerLink="/categories">Category</button>
  </div>
  <div class="right-frog">
    <button mat-mini-fab color="primary" routerLink="/authentication">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
