h1{
  text-align: center;
}
.update-delete-button{
  padding-bottom: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
p{
  margin-left: 15px;
  color: chocolate;
  font-size: 20px;
  font-family: "Bodoni MT Poster Compressed";
}
a{
  color: chocolate;
  text-overline-color: chocolate;
  font-family: "Bodoni MT Poster Compressed";
}
