<div>
  <h1>{{event.name}}</h1>
  <div class="update-delete-button">
    <div>
      <button mat-raised-button color="primary" [routerLink]="updateEventUrl">Update</button>
      <button mat-raised-button color="warn" (click)="openConfirmationDialog()">Delete</button>
    </div>
  </div>

  <p>Description: {{event.description}}</p>
  <p>Location:  {{event.location}} </p>
  <p>Category:  <a href="categories/{{event.category?.id}}">{{event.category?.name}}</a></p>
  <p>Start date:  {{event.startDate?.toLocaleDateString("ro-RO")}}</p>
  <p>End date:  {{event.endDate?.toLocaleDateString("ro-RO")}}</p>
</div>
