<h1 mat-dialog-title>Are you sure?</h1>
<div mat-dialog-content>
<!--Daca vrem sa adugam mai mult text in continutul dialogului-->
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button mat-dialog-close color="warn" (click)="confirm()">Yes</button>
</div>
