<div>
  <h1>{{category.name}}</h1>
</div>
<div class="update-delete-button">
  <div>
    <button mat-raised-button color="primary" [routerLink]="updateCategoryUrl">Update</button>
    <button mat-raised-button color="warn" (click)="openConfirmationDialog()">Delete</button>
  </div>
</div>
<div>
  <p>Description: {{category.description}}</p>
</div>
