.event-card{
  width: 300px;
  margin: 30px 15px 0 15px;
  cursor: pointer;
}
.event-card-img{
  height: 250px;
  object-fit: contain;
}
.event-card-content{
  height: 100px;
  padding-top: 20px;
  overflow: hidden;

}
mat-card-title{
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";

}
mat-card-subtitle{
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";

}
mat-card-content{
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";
}
