<mat-card class="event-card">
  <mat-card-header>
    <mat-card-title>{{event.name}}</mat-card-title>
    <mat-card-subtitle>{{event.location}}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image class="event-card-img"
    src="{{event.imgURL ? event.imgURL : 'https://tinyurl.com/mvpk5u97'}}"
  alt="Photo of the event"/>
  <!--daca src nu va fi modificat, aceasta imagine va fi afisat-->
  <mat-card-content class="event-card-content">
    <p>
      {{event.description}}
    </p>
  </mat-card-content>
</mat-card>
