<div>
  <h1>{{account.email}} details: </h1>
</div>
<div>
  <p>Email: {{account.email}}</p>
  <p>Id: {{account.id}}</p>
  <p>First name: {{account.firstName}}</p>
  <p>Last name: {{account.lastName}}</p>
</div>
