.category-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: chocolate;

}

form{
  padding: 50px;
  color: beige;
  font-family: "Bodoni MT Poster Compressed";
}
mat-form-field{
  min-width: 350px;
}

