<div class="events-container">
  <h1>Events</h1>
  <!--  Daca esti logat sa apara +-->
  <div>
    <button mat-fab color="primary" routerLink="/new-event">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="welcome">
    <mat-card>
      <mat-card-content>For more information click on the event.
        <!--        If you want to add your event, you must log in.-->
      </mat-card-content>
    </mat-card>
  </div>


  <div class="event-card-container">
    <app-event-card *ngFor="let e of events" [event]="e" (click)="navigateToEvent(e)"></app-event-card>
  </div>
</div>
