.event-card-container{
  padding: 0 20px 0 20px ;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.events-container{
  display: flex;
  align-items: center;
  flex-direction: column;

}
h1{
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";

}
.welcome{
  margin-top: 15px;
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";
  font-size: large;
}
