.account-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: chocolate;
}
.div-container{
  margin-right: 600px;
  margin-left: 600px;
  margin-top: 50px;

}
button{
  margin: 10px;
}

