<div class="div-container" [ngSwitch]="viewType">
  <mat-card class="register-card" *ngSwitchCase="'register'">
    <form class="account-form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailFormControl" placeholder="Ex. someone@something.com" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput [formControl]="firstNameFormControl" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput [formControl]="lastNameFormControl" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" required>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <mat-label>Retype Password</mat-label>
        <input type="password" matInput [formControl]="reTypePasswordFormControl" required>

      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onRegister()">Register</button>
      <button mat-raised-button type="button" color="primary" (click)="onViewChange()">Back to login</button>
    </form>
  </mat-card>

  <mat-card class="login-card" *ngSwitchCase="'login'">
    <form class="account-form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. someone@something.com" required>

      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" required>

      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onLogIn()">Log in</button>
      <button mat-raised-button color="primary" (click)="onViewChange()">Create an account</button>
    </form>
  </mat-card>
</div>
