.categories-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.event-card-container{
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
app-category-card{
  padding: 50px;
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";
 }
h1{
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";

}
button{
  margin: 10px;
}
.welcome{
  margin-top: 15px;
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";
  font-size:large;
}
