<div class="categories-container">
  <h1>Categories</h1>
  <div>
  <button mat-fab color="primary" routerLink="/new-category">
    <mat-icon>add</mat-icon>
  </button>
  </div>
  <div class="welcome">
    <mat-card>
      <mat-card-content>For more information click on the category.
<!--        If you don't find a category, you must log in to create it.-->
      </mat-card-content>
    </mat-card>
  </div>
  <div class="category-card-container">
    <app-category-card *ngFor="let c of categories" [category]="c" (click)="navigateToCategory(c)"></app-category-card>
  </div>
</div>
