/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.mat-typography {

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: beige;
}
h1{

  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";
}
h2{
  display: flex;
  justify-content: center;
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";
}
