.event-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: chocolate;
}

mat-option{
  color: chocolate;
  font-family: "Bodoni MT Poster Compressed";
}
form{
  padding: 50px;
  color: beige;
  font-family: "Bodoni MT Poster Compressed";
}
mat-form-field{
  min-width: 350px;

}
